
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Aboutsrc{
    <script src="~/Other/js/about.js"></script>
   
}

@section About{
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active"><a href="@Url.Action("About","Home")">About</a></li>
    <li><a href="@Url.Action("Listing","Home")">Listings</a></li>
    <li><a href="@Url.Action("News","Home")">News</a></li>
    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
}
@section aboutcss{
    <link rel="stylesheet" type="text/css" href="~/Other/styles/about.css">
    <link rel="stylesheet" type="text/css" href="~/Other/styles/about_responsive.css">
}
<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="~/Other/hinh/about.jpg" data-speed="0.8">
        <img src="~/Other/hinh/about.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content text-center">
                    <div class="home_title">Về Công Ty Chúng Tôi</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Intro -->

<div class="intro">
    <div class="container">
        <div class="row row-eq-height">

            <!-- Intro Content -->
            <div class="col-lg-6">
                <div class="intro_content">
                    <div class="section_title_container">
                        <div class="section_title"><h1>Công ty bất động sản PPC </h1></div>
                    </div>
                    <div class="intro_text">
                        <p>&nbsp &nbsp &nbsp Công ty bất động sản PPC (PPC = Perfect Property Company) là Doanh nghiệp hoạt động chuyên nghiệp trong lĩnh vực môi giới và tiếp thị bất động sản trong nước cũng như quốc tế. PPC được phát triển dựa trên nền tảng là sự hiểu biết sâu sắc về thị trường bất động sản, pháp luật và mối quan hệ vững chắc với các nhà đầu tư bất động sản chuyên nghiệp tại Việt Nam và đặc biệt là bất động sản tại Thành phố Hồ Chí Minh.</p>
                        <p>&nbsp &nbsp &nbsp Công ty chuẩn bị khai trương vào ngày 01/01/2020</p>
                    </div>
                </div>
            </div>

            <!-- Intro Image -->
            <div class="col-lg-6 intro_col">
                <div class="intro_image">
                    <div class="background_image" style="background-image:url(https://localhost:44302/Other/hinh/intro.jpg)"></div>
                    <img src="~/Other/hinh/intro.jpg" />

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Services -->

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">THÔNG TIN</div>
                    <div class="section_title"><h1>DỊCH VỤ</h1></div>
                </div>
            </div>
        </div>
        <div class="row services_row">

            <!-- Service -->
            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="~/Other/hinh/service_1.png" alt="">
                        </div>
                        <div class="service_title"><h3>Tư Vấn</h3></div>
                    </div>
                    <div class="service_text">
                        <p>Chúng tôi cam kết sẽ tư vấn, giải đáp mọi thắc mắc đến với quý Khách Hàng</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="~/Other/hinh/service_2.png" alt="">
                        </div>
                        <div class="service_title"><h3>Bất Động Sản Sạch</h3></div>
                    </div>
                    <div class="service_text">
                        <p>Bất Động Sản được chứng thực và có nguồn tin tưởng tuyệt đối.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="~/Other/hinh/service_3.png" alt="">
                        </div>
                        <div class="service_title"><h3>Tự Giải Quyết</h3></div>
                    </div>
                    <div class="service_text">
                        <p>Quý Khách có thể toàn quyền quyết định về Bất Động Sản theo ý muốn của mình.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="~/Other/hinh/service_4.png" alt="">
                        </div>
                        <div class="service_title"><h3>Bí Mật</h3></div>
                    </div>
                    <div class="service_text">
                        <p>Mọi thông tin cũng như các cuộc giao dịch của quý vịđược giữ bí mất tuyệt đối.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="~/Other/hinh/service_5.png" alt="">
                        </div>
                        <div class="service_title"><h3>Đánh Giá</h3></div>
                    </div>
                    <div class="service_text">
                        <p>Đã được cấp phép để dịch vụ của chúng tôi hoạt động</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="~/Other/hinh/service_6.png" alt="">
                        </div>
                        <div class="service_title"><h3>Giá cả hợp lý</h3></div>
                    </div>
                    <div class="service_text">
                        <p>Giá cả của chúng tôi là hợp lý so với mặt bằng thị trường Bất Động Sản.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Milestones -->
<!-- Agents -->

<div class="agents">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">THÔNG TIN</div>
                    <div class="section_title"><h1>ĐỘI NGŨ ADMIN</h1></div>
                </div>
            </div>
        </div>
        <div class="row agents_row" >

            <!-- Agent -->
           

            <!-- Agent -->
            <div class="col-lg-4 agent_col" style="margin: 0 auto; width: 350px">
                <div class="agent">
                    <div class="agent_image"><img src="https://scontent.fsgn6-1.fna.fbcdn.net/v/t1.15752-9/70274862_745849409178861_4897508257955840_n.png?_nc_cat=103&_nc_ohc=6-Un85he8ZkAQloG1STENVClneYHj_8Atr3e7a1RQS68GcbjQwhWvjtXg&_nc_ht=scontent.fsgn6-1.fna&oh=b9f5e5cbe1366f7a286182d95e8556a6&oe=5E85EEA5" alt="" style="height: 350px;width: 350px"></div>
                    <div class="agent_content">
                        <div class="agent_name"><a href="https://www.facebook.com/DangHBaoHan">SOLO TEAM</a></div>
                        <div class="agent_title">SOLO TEAM</div>
                        <div class="agent_list">
                            <ul>
                                <li>soloteam@gmail.com</li>
                                <li>+344978808</li>
                            </ul>
                        </div>
                        <div class="social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/DangHBaoHan"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Agent -->


        </div>
        <div class="row contact_row">
            <div class="col">
                <div class="button ml-auto mr-auto"><a href="https://www.messenger.com/t/DangHBaoHan">Liên Hệ Chúng Tôi</div>
            </div>
        </div>
    </div>
</div>

