@using PropertyManagement1.Models;
@model List<Property>


@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Home{
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("About","Home")">About</a></li>

    <li class="active"><a href="@Url.Action("Listing","Home")">Listings</a></li>
    <li><a href="@Url.Action("News","Home")">News</a></li>
    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
}
@section maincss {
    <link rel="stylesheet" type="text/css" href="~/Other/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Other/styles/responsive.css">
}
@section Indexsrc {
    <script src="~/Other/js/custom.js"></script>
}
@section slider{
    <!-- Home -->

    <div class="home">

        <!-- Home Slider -->
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">

                <!-- Slide -->
                @foreach (var item in Model)
                {

                    <div class="slide">
                        <div><img src="@Url.Content("~/Other/hinh/"+item.Avatar)"></div>

                        <div class="home_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content">
                                            <div class="home_title"><h1>@item.Property_Name</h1></div>
                                            <div class="home_price_tag">@string.Format("{0:0,0.00,00}", item.Price) VNĐ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }





            </div>

            <!-- Home Slider Navigation -->
            <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

        </div>
    </div>

    <!-- Search -->

    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="search_container">
                        <div class="search_title">Tìm kiếm BĐS</div>
                        <div class="search_form_container">
                            <form action="@Url.Action("Search","Home")" class="search_form" id="search_form" role="search" method="post" name="search">
                                <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                        <input type="text" class="search_input1" placeholder="Tên Bất Động Sản" required="required" name="search">

                                    </div>
                                    <button class="search_button">Tìm Kiếm</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}



<!-- Featured -->

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">KẾT QUẢ</div>
                    <div class="section_title"><h1>TÌM KIẾM</h1></div>
                </div>
            </div>
        </div>
        <div class="row featured_row">

            <!-- Featured Item -->
            <!-- Featured Item -->
            <!-- Featured Item -->

            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="listing">
                        <div class="listing_image">
                            <div class="listing_image_container">
                                <img src="@Url.Content("~/Other/hinh/"+item.Avatar)" alt="">
                            </div>
                            <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                <div class="tag tag_house"><a href="@Url.Action("Detais","Home", new {@id = item.ID })">@item.Property_Type.Property_Type_Name</a></div>
                                <div class="tag tag_sale"><a href="@Url.Action("Detais","Home", new {@id = item.ID })">@item.Property_Status.Property_Status_Name</a></div>
                            </div>
                            <div class="tag_price listing_price">@item.Price</div>
                        </div>
                        <div class="listing_content">
                            <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                <img src="~/Other/hinh//icon_1.png" alt="">
                                <a href="@Url.Action("Detais","Home", new {@id = item.ID })">@item.Address</a>
                            </div>
                            <div class="listing_info">
                                <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                    <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                        <img src="~/Other/hinh//icon_2.png" alt="">
                                        <span>@item.Area</span>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="~/Other/hinh//icon_3.png" alt="">
                                        <span>@item.Bed_Room</span>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="~/Other/hinh//icon_4.png" alt="">
                                        <span>@item.Bath_Room</span>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="~/Other/hinh//icon_5.png" alt="">
                                        <span>@item.Property_Type.Property_Type_Name</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
