@model PropertyManagement1.Models.Login
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/76c71873ca.js" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
</head>
<body>
<h2>Vui lòng điền thông tin đăng nhập</h2>
<div class="container" id="container">
 
    <div class="form-container sign-in-container">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <form action="#">
                <h1>Đăng Nhập</h1>
                <div class="social-container">
                    <a href="https://www.facebook.com/DangHBaoHan" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://www.instagram.com/lau_phan/" class="social"><i class="fab fa-instagram"></i></a>
                </div>
                <span>Nhập Thông Tin</span>

                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                    <div>
                        @Html.LabelFor(a => a.username)
                        @Html.TextBoxFor(a => a.username)
                    </div>
                    <div>
                        @Html.LabelFor(a => a.password)
                        @Html.PasswordFor(a => a.password)
                        @Html.ValidationMessageFor(a => a.password)
                    </div>
                    <div>
                        <input type="submit" value="Login"> 
                    </div>
                </fieldset>



                @*<input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />*@
                <a href="/Home/Index/">Trở về Trang Chính</a>

            </form>
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Đăng Nhập</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Chào Bạn!</h1>
                <p>Chào mừng bạn đến với team 12 nha!</p>
                
            </div>
        </div>
    </div>
</div>  

@*<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <span class="login100-form-title p-b-43">
                    Account Login
                </span>
                <fieldset class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }

                    <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
                        @Html.LabelFor(a => a.username, new { @class = "label-input100" })
                        @Html.TextBoxFor(a => a.username, new { @class = "form-controll" })
                    </div>
                    <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                        @Html.LabelFor(a => a.password, new { @class = "label-input100" })
                        @Html.PasswordFor(a => a.password, new { @class = "input100" })
                        @Html.ValidationMessageFor(a => a.password)
                    </div>
                    <div class="container-login100-form-btn">
                        <input type="submit" class="login100-form-btn">
                    </div>
                </fieldset>
            }
        </div>


        </div>
    </div>*@
</body>
</html>

































